@font-face {
	font-family: "Poppins";
	src: url("./Poppins-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body,
h2 {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.header {
	position: relative;
}

.header::before {
	content: "";
	position: absolute;
	top: -65rem;
	left: 0;
	width: 100%;
	height: 95rem;
	background: #0991b1;
	transform: skewY(-10deg);
	z-index: -1;
}

.header__content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6.25rem 15rem;
}

.header__content .header__picture {
	position: relative;
}

.header__content .header__picture img {
	width: 20rem;
	height: 25rem;
	object-fit: cover;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.header__content .header__name {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 4.8rem;
	line-height: 5rem;
	font-weight: bold;
	color: #fff;
}

.header__content .header__info {
	background-color: #fff;
	padding: 3rem 2.5rem;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.header__content .header__info .header__title {
	font-size: 2rem;
}

.header__content .header__info .header__desc {
	font-size: 1.5rem;
}

@media (max-width: 600px) {
	.header__content {
		flex-direction: column;
		padding: 4rem 2rem;
	}

	.header__content .header__info {
		margin-top: 3rem;
		padding: 0;
		box-shadow: none;
	}

	.header__content .header__info .header__title {
		text-align: center;
	}
}

@media (min-width: 601px) and (max-width: 1280px) {
	.header__content {
		padding: 4rem 2rem;
	}

	.header__content {
		display: block;
	}

	.header__content .header__picture {
		float: left;
		margin-right: 2.3rem;
	}

	.header__content .header__info {
		margin-top: 4rem;
		margin-left: 4rem;
		padding: 1.5rem 2.5rem;
	}
}
